* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.main img {
  width: 180px;
  border-radius: 10px;
  border: solid #847f86 3px;
}

.countryDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 20px;
}

.countryDetails .button {
  width: 150px;
  margin-top: 10px;
}

.countryCard {
  display: flex;
  padding: 10px 10px;
  width: 32%;
  border: 1px solid #ffffff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background: #ffffff;
  transition: all 0.15s ease-in-out;
}
.countryCard:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
}

.searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.searchButton {
  height: 40px;
}

.region {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.form {
  width: 150px;
}
